asttokens
biopython
certifi
charset-normalizer
comm
contourpy
cycler
debugpy
decorator
executing
filelock
fonttools
fsspec
idna
ipykernel
ipython
ipython_pygments_lexers
jedi
Jinja2
joblib
jupyter_client
jupyter_core
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
mpmath
nest-asyncio
networkx
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-cusparselt-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
packaging
pandas
parso
pexpect
pillow
platformdirs
prompt_toolkit
psutil
ptyprocess
pure_eval
pyBigWig
Pygments
pyparsing
python-dateutil
pytz
pyzmq
requests
scikit-learn
scipy
setuptools
six
stack-data
sympy
threadpoolctl
torch
torchaudio
torchvision
tornado
traitlets
triton
typing_extensions
tzdata
urllib3
wcwidth
